## Math 189 Project Notebook

In [ ]:
import numpy as np
import pandas as pd

In [3]:
pip install gdown

Collecting gdown
  Downloading gdown-5.1.0-py3-none-any.whl.metadata (5.7 kB)
Requirement already satisfied: beautifulsoup4 in /home/codespace/.local/lib/python3.10/site-packages (from gdown) (4.12.3)
Requirement already satisfied: filelock in /home/codespace/.local/lib/python3.10/site-packages (from gdown) (3.13.1)
Requirement already satisfied: requests[socks] in /home/codespace/.local/lib/python3.10/site-packages (from gdown) (2.31.0)
Collecting tqdm (from gdown)
  Downloading tqdm-4.66.2-py3-none-any.whl.metadata (57 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 57.6/57.6 kB 1.3 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: soupsieve>1.2 in /home/codespace/.local/lib/python3.10/site-packages (from beautifulsoup4->gdown) (2.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/codespace/.local/lib/python3.10/site-packages (from requests[socks]->gdown) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.10/site-packages (from requests[socks]->gdown) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from requests[socks]->gdown) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /home/codespace/.local/lib/python3.10/site-packages (from requests[socks]->gdown) (2024.2.2)
Collecting PySocks!=1.5.7,>=1.5.6 (from requests[socks]->gdown)
  Downloading PySocks-1.7.1-py3-none-any.whl (16 kB)
Downloading gdown-5.1.0-py3-none-any.whl (17 kB)
Downloading tqdm-4.66.2-py3-none-any.whl (78 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.3/78.3 kB 2.4 MB/s eta 0:00:00
Installing collected packages: tqdm, PySocks, gdown
Successfully installed PySocks-1.7.1 gdown-5.1.0 tqdm-4.66.2
Note: you may need to restart the kernel to use updated packages.

In [4]:
import gdown

In [6]:
file_id = '1yQDnF1A54d2CYv_CqceyFLzBCw6FFGb4'
url = f"https://drive.google.com/uc?id={file_id}"

filename = "flight_data.csv"
gdown.download(url, filename, quiet=False)

file = pd.read_csv(filename)

Downloading...
From (original): https://drive.google.com/uc?id=1M0_0BJ3mEWoMwzVlle7UYvoNXNuWLGQy
From (redirected): https://drive.google.com/uc?id=1M0_0BJ3mEWoMwzVlle7UYvoNXNuWLGQy&confirm=t&uuid=70317670-ab88-41fb-b92f-1419418ceff7
To: /workspaces/Math189Project/flight_data.csv
100%|██████████| 399M/399M [00:03<00:00, 132MB/s]

In [9]:
flight_data = file[file['Year'] > 2000].reset_index().drop(columns = ['Unnamed: 0', 'index'])

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,Tail_Number,...,ActualElapsedTime,AirTime,Flights,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2009,2,5,28,4,2009-05-28,FL,20437,FL,N946AT,...,159.0,141.0,1.0,1066.0,5.0,NaN,NaN,NaN,NaN,NaN
1,2013,2,6,29,6,2013-06-29,MQ,20398,MQ,N665MQ,...,118.0,103.0,1.0,773.0,4.0,NaN,NaN,NaN,NaN,NaN
2,2010,3,8,31,2,2010-08-31,DL,19790,DL,N6705Y,...,250.0,220.0,1.0,1979.0,8.0,NaN,NaN,NaN,NaN,NaN
3,2006,1,1,15,7,2006-01-15,US,20355,US,N504AU,...,107.0,80.0,1.0,529.0,3.0,0.0,0.0,0.0,0.0,32.0
4,2006,3,8,7,1,2006-08-07,CO,19704,CO,N27724,...,131.0,94.0,1.0,563.0,3.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1210674,2006,4,10,23,1,2006-10-23,DL,19790,DL,N836MH,...,607.0,561.0,1.0,4502.0,11.0,0.0,0.0,25.0,0.0,0.0
1210675,2016,3,8,25,4,2016-08-25,DL,19790,DL,N372NW,...,164.0,132.0,1.0,1029.0,5.0,NaN,NaN,NaN,NaN,NaN
1210676,2006,3,9,8,5,2006-09-08,MQ,20398,MQ,N301AE,...,67.0,43.0,1.0,158.0,1.0,NaN,NaN,NaN,NaN,NaN
1210677,2006,1,2,6,1,2006-02-06,UA,19977,UA,N498UA,...,312.0,292.0,1.0,2066.0,9.0,NaN,NaN,NaN,NaN,NaN
1210678,2019,2,4,6,6,2019-04-06,WN,19393,WN,N567WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
flight_data