## Math 189 Project Notebook

### Setup and Data Cleaning

In [6]:
import numpy as np
import pandas as pd

In [11]:
pip install gdown

Collecting gdown
  Downloading gdown-5.1.0-py3-none-any.whl.metadata (5.7 kB)
Requirement already satisfied: beautifulsoup4 in /home/codespace/.local/lib/python3.10/site-packages (from gdown) (4.12.3)
Requirement already satisfied: filelock in /home/codespace/.local/lib/python3.10/site-packages (from gdown) (3.13.1)
Requirement already satisfied: requests[socks] in /home/codespace/.local/lib/python3.10/site-packages (from gdown) (2.31.0)
Collecting tqdm (from gdown)
  Downloading tqdm-4.66.2-py3-none-any.whl.metadata (57 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 57.6/57.6 kB 1.5 MB/s eta 0:00:00
Requirement already satisfied: soupsieve>1.2 in /home/codespace/.local/lib/python3.10/site-packages (from beautifulsoup4->gdown) (2.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/codespace/.local/lib/python3.10/site-packages (from requests[socks]->gdown) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.10/site-packages (from requests[socks]->gdown) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from requests[socks]->gdown) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /home/codespace/.local/lib/python3.10/site-packages (from requests[socks]->gdown) (2024.2.2)
Collecting PySocks!=1.5.7,>=1.5.6 (from requests[socks]->gdown)
  Downloading PySocks-1.7.1-py3-none-any.whl (16 kB)
Downloading gdown-5.1.0-py3-none-any.whl (17 kB)
Downloading tqdm-4.66.2-py3-none-any.whl (78 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.3/78.3 kB 2.9 MB/s eta 0:00:00
Installing collected packages: tqdm, PySocks, gdown
Successfully installed PySocks-1.7.1 gdown-5.1.0 tqdm-4.66.2
Note: you may need to restart the kernel to use updated packages.

In [26]:
pd.set_option('display.max_columns', 50)
pd.set_option('display.width', 1000)

In [12]:
# reading in the csv file from google drive

import gdown

file_id = "1yQDnF1A54d2CYv_CqceyFLzBCw6FFGb4"
url = f"https://drive.google.com/uc?id={file_id}"

filename = "flight_data.csv"
gdown.download(url, filename, quiet=False)

airline_data = pd.read_csv(filename, low_memory = False)

Downloading...
From (original): https://drive.google.com/uc?id=1yQDnF1A54d2CYv_CqceyFLzBCw6FFGb4
From (redirected): https://drive.google.com/uc?id=1yQDnF1A54d2CYv_CqceyFLzBCw6FFGb4&confirm=t&uuid=51b7d202-12df-4957-b687-6727b12b37de
To: /workspaces/Math189Project/flight_data.csv
100%|██████████| 714M/714M [00:05<00:00, 138MB/s]

In [13]:
# filtering the data to get all observations after the year 2000 and sorting by year

df = airline_data[airline_data['Year'] >= 2000].sort_values(by = 'Year').reset_index().drop(columns = ['index'])

In [14]:
# examine the number of null values and determine relevant columns 

((df.isnull().sum() / df.shape[0]) * 100).to_dict()

{'Year': 0.0,
 'Quarter': 0.0,
 'Month': 0.0,
 'DayofMonth': 0.0,
 'DayOfWeek': 0.0,
 'FlightDate': 0.0,
 'Reporting_Airline': 0.0,
 'DOT_ID_Reporting_Airline': 0.0,
 'IATA_CODE_Reporting_Airline': 0.0,
 'Tail_Number': 0.6019372521489758,
 'Flight_Number_Reporting_Airline': 0.0,
 'OriginAirportID': 0.0,
 'OriginAirportSeqID': 0.0,
 'OriginCityMarketID': 0.0,
 'Origin': 0.0,
 'OriginCityName': 0.0,
 'OriginState': 0.0,
 'OriginStateFips': 0.0,
 'OriginStateName': 0.0,
 'OriginWac': 0.0,
 'DestAirportID': 0.0,
 'DestAirportSeqID': 0.0,
 'DestCityMarketID': 0.0,
 'Dest': 0.0,
 'DestCityName': 0.0,
 'DestState': 0.0,
 'DestStateFips': 0.0,
 'DestStateName': 0.0,
 'DestWac': 0.0,
 'CRSDepTime': 0.0,
 'DepTime': 1.8829583050163925,
 'DepDelay': 1.8876632736125942,
 'DepDelayMinutes': 1.8876632736125942,
 'DepDel15': 1.8876632736125942,
 'DepartureDelayGroups': 1.8876632736125942,
 'DepTimeBlk': 0.0,
 'TaxiOut': 1.909171701480945,
 'WheelsOff': 1.9106653423051358,
 'WheelsOn': 2.0349362588778277,
 'TaxiIn': 2.029708515993159,
 'CRSArrTime': 0.0,
 'ArrTime': 2.029708515993159,
 'ArrDelay': 2.143747992920143,
 'ArrDelayMinutes': 2.143747992920143,
 'ArrDel15': 2.143747992920143,
 'ArrivalDelayGroups': 2.143747992920143,
 'ArrTimeBlk': 0.0,
 'Cancelled': 0.0,
 'CancellationCode': 98.4899291267429,
 'Diverted': 0.0,
 'CRSElapsedTime': 0.0020910971538674094,
 'ActualElapsedTime': 2.1418062598486944,
 'AirTime': 2.141880941889904,
 'Flights': 0.0,
 'Distance': 0.0,
 'DistanceGroup': 0.0,
 'CarrierDelay': 83.4352992135981,
 'WeatherDelay': 83.4352992135981,
 'NASDelay': 83.4352992135981,
 'SecurityDelay': 83.4352992135981,
 'LateAircraftDelay': 83.4352992135981,
 'FirstDepTime': 99.66736618845266,
 'TotalAddGTime': 99.66736618845266,
 'LongestAddGTime': 99.66736618845266,
 'DivAirportLandings': 44.27868350497756,
 'DivReachedDest': 99.86743937685306,
 'DivActualElapsedTime': 99.88790225614447,
 'DivArrDelay': 99.88790225614447,
 'DivDistance': 99.86743937685306,
 'Div1Airport': 99.85952308048483,
 'Div1AirportID': 99.85952308048483,
 'Div1AirportSeqID': 99.85952308048483,
 'Div1WheelsOn': 99.85952308048483,
 'Div1TotalGTime': 99.85952308048483,
 'Div1LongestGTime': 99.85952308048483,
 'Div1WheelsOff': 99.88708075369117,
 'Div1TailNum': 99.88693138960875,
 'Div2Airport': 99.99895445142306,
 'Div2AirportID': 99.99895445142306,
 'Div2AirportSeqID': 99.99895445142306,
 'Div2WheelsOn': 99.99895445142306,
 'Div2TotalGTime': 99.99895445142306,
 'Div2LongestGTime': 99.99895445142306,
 'Div2WheelsOff': 99.99977595387637,
 'Div2TailNum': 99.99977595387637,
 'Div3Airport': 100.0,
 'Div3AirportID': 100.0,
 'Div3AirportSeqID': 100.0,
 'Div3WheelsOn': 100.0,
 'Div3TotalGTime': 100.0,
 'Div3LongestGTime': 100.0,
 'Div3WheelsOff': 100.0,
 'Div3TailNum': 100.0,
 'Div4Airport': 100.0,
 'Div4AirportID': 100.0,
 'Div4AirportSeqID': 100.0,
 'Div4WheelsOn': 100.0,
 'Div4TotalGTime': 100.0,
 'Div4LongestGTime': 100.0,
 'Div4WheelsOff': 100.0,
 'Div4TailNum': 100.0,
 'Div5Airport': 100.0,
 'Div5AirportID': 100.0,
 'Div5AirportSeqID': 100.0,
 'Div5WheelsOn': 100.0,
 'Div5TotalGTime': 100.0,
 'Div5LongestGTime': 100.0,
 'Div5WheelsOff': 100.0,
 'Div5TailNum': 100.0}

In [23]:
# selecting only relevant and useful columns from data

df = df[['Year',
 'Quarter',
 'Month',
 'DayofMonth',
 'DayOfWeek',
 'FlightDate',
 'Reporting_Airline',
 'Origin',
 'OriginCityName',
 'OriginStateName',
 'Dest',
 'DestCityName',
 'DestStateName',
 'DepTime',
 'DepDelay',
 'DepDelayMinutes',
 'DepDel15',
 'DepartureDelayGroups',
 'TaxiOut',
 'WheelsOff',
 'WheelsOn',
 'TaxiIn',
 'ArrTime',
 'ArrDelay',
 'ArrDelayMinutes',
 'ArrDel15',
 'ArrivalDelayGroups',
 'Cancelled',
 'CancellationCode',
 'Diverted',
 'ActualElapsedTime',
 'AirTime',
 'Flights',
 'Distance',
 'CarrierDelay',
 'WeatherDelay',
 'NASDelay',
 'SecurityDelay',
 'LateAircraftDelay']]

In [27]:
# this will be the data frame we are working with

df

         Year  Quarter  Month  DayofMonth  DayOfWeek  FlightDate Reporting_Airline Origin  OriginCityName OriginStateName Dest      DestCityName DestStateName  DepTime  DepDelay  DepDelayMinutes  DepDel15  DepartureDelayGroups  TaxiOut  WheelsOff  WheelsOn  TaxiIn  ArrTime  ArrDelay  ArrDelayMinutes  ArrDel15  ArrivalDelayGroups  Cancelled CancellationCode  Diverted  ActualElapsedTime  AirTime  Flights  Distance  CarrierDelay  WeatherDelay  NASDelay  SecurityDelay  LateAircraftDelay
0        2000        3      7          14          5  2000-07-14                US    PIT  Pittsburgh, PA    Pennsylvania  TOL        Toledo, OH          Ohio      NaN       NaN              NaN       NaN                   NaN      NaN        NaN       NaN     NaN      NaN       NaN              NaN       NaN                 NaN        1.0              NaN       0.0                NaN      NaN      1.0     201.0           NaN           NaN       NaN            NaN                NaN
1        2000        2      5          10          3  2000-05-10                DL    JFK    New York, NY        New York  ATL       Atlanta, GA       Georgia   2010.0     160.0            160.0       1.0                  10.0    101.0     2151.0    2334.0     8.0   2342.0     222.0            222.0       1.0                12.0        0.0              NaN       0.0              212.0    103.0      1.0     760.0           NaN           NaN       NaN            NaN                NaN
2        2000        2      5          30          2  2000-05-30                HP    LAS   Las Vegas, NV          Nevada  LAX   Los Angeles, CA    California   1948.0       2.0              2.0       0.0                   0.0     20.0     2008.0    2052.0    12.0   2104.0       9.0              9.0       0.0                 0.0        0.0              NaN       0.0               76.0     44.0      1.0     236.0           NaN           NaN       NaN            NaN                NaN
3        2000        1      3           3          5  2000-03-03                DL    LAS   Las Vegas, NV          Nevada  LAX   Los Angeles, CA    California    602.0       2.0              2.0       0.0                   0.0     11.0      613.0     658.0    11.0    709.0       7.0              7.0       0.0                 0.0        0.0              NaN       0.0               67.0     45.0      1.0     236.0           NaN           NaN       NaN            NaN                NaN
4        2000        3      8           7          1  2000-08-07                WN    HOU     Houston, TX           Texas  MSY   New Orleans, LA     Louisiana    853.0       8.0              8.0       0.0                   0.0      5.0      858.0     950.0     5.0    955.0      10.0             10.0       0.0                 0.0        0.0              NaN       0.0               62.0     52.0      1.0     303.0           NaN           NaN       NaN            NaN                NaN
...       ...      ...    ...         ...        ...         ...               ...    ...             ...             ...  ...               ...           ...      ...       ...              ...       ...                   ...      ...        ...       ...     ...      ...       ...              ...       ...                 ...        ...              ...       ...                ...      ...      ...       ...           ...           ...       ...            ...                ...
1339005  2020        1      1          11          6  2020-01-11                OH    CLT   Charlotte, NC  North Carolina  DSM    Des Moines, IA          Iowa   2212.0      -2.0              0.0       0.0                  -1.0     24.0     2236.0    2334.0    12.0   2346.0     -12.0              0.0       0.0                -1.0        0.0              NaN       0.0              154.0    118.0      1.0     815.0           NaN           NaN       NaN            NaN                NaN
1339006  2020        1      1          15          3  2020-01-15                WN    STL   St. Louis, MO        Missouri  MSY   New Orleans, LA     Louisiana   1401.0      16.0             16.0       1.0                   1.0      6.0     1407.0    1535.0     2.0   1537.0       7.0              7.0       0.0                 0.0        0.0              NaN       0.0               96.0     88.0      1.0     604.0           NaN           NaN       NaN            NaN                NaN
1339007  2020        1      3           5          4  2020-03-05                WN    BWI   Baltimore, MD        Maryland  JAX  Jacksonville, FL       Florida    909.0       9.0              9.0       0.0                   0.0     11.0      920.0    1108.0     3.0   1111.0       1.0              1.0       0.0                 0.0        0.0              NaN       0.0              122.0    108.0      1.0     663.0           NaN           NaN       NaN            NaN                NaN
1339008  2020        1      3          30          1  2020-03-30                OH    CVG  Cincinnati, OH        Kentucky  PHL  Philadelphia, PA  Pennsylvania   1519.0     -19.0              0.0       0.0                  -2.0     11.0     1530.0    1636.0     7.0   1643.0     -34.0              0.0       0.0                -2.0        0.0              NaN       0.0               84.0     66.0      1.0     507.0           NaN           NaN       NaN            NaN                NaN
1339009  2020        1      1          22          3  2020-01-22                UA    IAH     Houston, TX           Texas  DEN        Denver, CO      Colorado    656.0      -4.0              0.0       0.0                  -1.0     14.0      710.0     804.0    19.0    823.0     -11.0              0.0       0.0                -1.0        0.0              NaN       0.0              147.0    114.0      1.0     862.0           NaN           NaN       NaN            NaN                NaN

[1339010 rows x 39 columns]